<a href="https://colab.research.google.com/github/younghag/pythonbasic/blob/main/20210312.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [14]:
people = [('이호준', '01050442903'), 
          ('이호상', '01051442904'), 
          ('이준호', '01050342904'), 
          ('이호준', '01050442903'), 
          ('이준', '01050442904'), 
          ('이호', '01050443904'), 
          ('이호준', '01050442903')]
len(set(people))

5

In [29]:
txt = input("문자를 입력하세요: ")
for i in txt:
  if i.isupper():
    print(i.lower(), end='')
  else:
    print(i.upper(), end='')

문자를 입력하세요: AAaaBBbbCCcc
aaAAbbBBccCC

In [68]:
nums = map(int, input().split()) #입력 받은 문자를 수로 변환
l_nums = list(nums)
l_nums.sort()

1 3 2

In [59]:
nums = map(int, input().split()) #입력 받은 문자를 수로 변환
l_nums = list(nums)
l_nums[0]

1 2 3

1

In [79]:
student = ['강은지', '김유정', '박현서', '최성훈', '홍유진', '박지호', '권윤일', 
'김채리', '한지호', '김진이', '김민호', '강채연']
student.sort()
for i in range (1, len(student)+1):
  print("번호: %s, 이름: " % i, student[i-1])

번호: 1, 이름:  강은지
번호: 2, 이름:  강채연
번호: 3, 이름:  권윤일
번호: 4, 이름:  김민호
번호: 5, 이름:  김유정
번호: 6, 이름:  김진이
번호: 7, 이름:  김채리
번호: 8, 이름:  박지호
번호: 9, 이름:  박현서
번호: 10, 이름:  최성훈
번호: 11, 이름:  한지호
번호: 12, 이름:  홍유진

In [81]:
a = '20190923'
print(a)
type(a)

20190923

str

In [87]:
txt = "aacdddddddddfffffffffgghhh"
print(txt.count('a'),
      txt.count('b'), 
      txt.count('c'), 
      txt.count('d'), 
      txt.count('e'), 
      txt.count('f'),
      txt.count('g'), 
      txt.count('h'), 
      sep='')

20190923

In [108]:
a = input().split() #입력된 문자를 띄어쓰기 단위로 나눈다
for i in a: #i가 a안에 있을때
  print((i[0]), end='') #첫 번째 단어만 출력

복잡한 세상 편하게 살자
복세편살

In [115]:
a = input(' ')
print(len(a), '자리수', sep='')

 649
3자리수

In [136]:
a = input('').split()
sum = 0 #초기값 설정
for i in a: # i
  sum += len(i) # 글자수의 합은 이전 글자수의 합 + i의 글자수
print(sum) #글자수의 합

공백을 제외한 글자수만을 세는 코드 테스트
18

In [137]:
k={7}

In [139]:
a=b

In [140]:
m={5}

In [141]:
p={7}