<a href="https://colab.research.google.com/github/younghag/pythonbasic/blob/main/FridayQuiz27.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [14]:
a,b = map(int,input("name keys").split())
c,d = map(int, input("number values").split())
print(a+c, b+d)

name keysd d

ValueError: ignored

In [11]:
a = input().split()
alist=list(a)
print(a)

a a a
['a', 'a', 'a']

In [13]:
a=input().split()
print(a)

d d
['d', 'd']

In [18]:
a = [1,2,3,4]
b = [100,200,300,400]
print(list(zip(a,b)))

[(1, 100), (2, 200), (3, 300), (4, 400)]

In [23]:
#27
key = input().split()
value = map(int, input().split())

print(dict(zip(key,value)))

Yujin Hyewon
70 100
{'Yujin': 70, 'Hyewon': 100}

In [33]:
# 28
txt = input()
for i in range(len(txt)-1):
  print(txt[i],txt[i+1], sep='')

Python
Py
yt
th
ho
on

In [56]:
#29
a = input("")
if a.upper() == a:
  print("Yes")
else: 
  print("No")

a
No

In [59]:
a = input()
if a. isupper:
  print("Yes")
else: 
  print("No")

A
Yes

In [63]:
txt = input()
if ord(txt)>= 65 and ord(txt) <= 90:
  print("Yes")
else: print("No")

B
Yes

In [65]:
txt = input()
if txt >=chr(65) and txt <= chr(90):
  print("yes")
else:
  print("no")

A
yes

In [68]:
# 30 (find, index 함수 공부하기)
txt = input()
intxt = input()
if intxt in txt:
  print(txt.find(intxt))

pineapple
apple
4

In [75]:
a = [1,2,3,4]
len(a)

4

In [86]:
a = list(input().split())
len(a)

빅데이터

1

In [89]:
#쓸데없는거를 날려줌 (strip) 31번 strip 안쓰나용?
txt = " 빅 데이터 "

print(txt.strip())

빅 데이터

In [96]:
txt = map(int, input().split())
txt.reverse()
print(txt)

1 2 3

AttributeError: ignored

In [98]:
txt = input()
txt2 = list(txt.split())
txt3 = [int(i) for i in txt2]

for i in range (len(txt3)-1, -1, -1):
  print(txt3[i], end=' ')

1 2 3 4 5
5 4 3 2 1

In [106]:
a = int(input())

102, 103

ValueError: ignored

In [107]:
# <list>sort()를 사용하면 원본 리스트 자체의 순서를 정렬한다.
#sorted(<list>)를 사용하면 정렬된 새로운 리스트를 반환 받는다.
#<list>.sort()는 새로운 복사본을 만들지 않기 때문에 sorted(<list>)보다 빠르다.

In [115]:
num1 = input()

num2 = num1.strip().split()

num3 = [int(i) for i in num2 ]

if num3 != sorted(num3):
  print("NO")
else:
  print("YES")

1 2 3 4 5
YES

In [141]:
i = int(input())
for j in range(1, 10):
  print(i*j, end= ' ')

2
2 4 6 8 10 12 14 16 18

In [163]:
a = input()
if a.count("은비") > a.count("원영") or a.count("은비") > a.count("채연"):
  print("은비가 총 %d표를 받아 반장이 되었습니다." % a.count("은비"))
elif a.count("원영")>  a.count("은비") or a.count("원영") > a.count("채연"):
  print("원영이가 총 %d표를 받아 반장이 되었습니다." % a.count("원영"))
elif a.count("채연") > a.count("은비") or a.count("채연") > a.count("원영"):
  print("채연이가 총 %d표를 받아 반장이 되었습니다." % a.count("채연"))

은비 은비 은비 채연 채연 원영
은비가 총 3표를 받아 반장이 되었습니다.

In [169]:
a = input().split() # (은비 은비 은비 은비 채연채연채연 원영원영)
b = list(set(a)) # {은비, 채연, 원영}

max = 0
for i in range(len(b)): # 0 1 2
  if a.count(b[i])> a.count(b[max]):
    max = i
print("%s(이)가 총 %d표로 반장이 되었습니다." % (b[max], a.count(b[max])))

은비 은비 은비 은비 원영 원영 원영 채연 채연
은비(이)가 총 4표로 반장이 되었습니다.

In [170]:
a = input()
print(a.replace('q', 'e'))

qqqqqqqqqqqqqqqqqqqqq
eeeeeeeeeeeeeeeeeeeee

In [182]:
5 % 3

2

In [205]:
num = int(input())

for i in range (2, num):
  if num % i != 0:
    print("No")
  else: 
    print("Yes")

IndentationError: ignored

In [197]:
2 3 5 7 11 13 17 19 23 29

SyntaxError: ignored

In [200]:
a = int(input())

re = 0
for i in range (1, a+1):
  if a % i == 0:
    re += 1
if re == 2:
  print('Yes')
else: print("no")

11
Yes

In [6]:
nums = input()
total = 0
for i in range(len(nums)):
  total = total + int(nums)
print(total)

55
110

In [11]:
num = input()
print(sum(map(int, num)))

1234
10

In [13]:
n = list(map(int, input()))
sum = 0
for i in n:
  sum +=i
print(sum)

555
15

In [14]:
sum = 0
for i in input():
  sum += int

555
15

In [23]:
for i in range

1635

In [21]:
i=1
for i in range (1, 20):
  sum += i
print(sum)

1425

In [29]:
sum = 0
for i in list(range(21)):
  print(i)
  for j in str(i):
    sum += int(j)
print(sum)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
102