In [3]:
odd = [1,3,5,7,9]

In [4]:
odd

[1, 3, 5, 7, 9]

In [6]:
a = []
b = [1,2,3]
c = ['Life', 'is', 'too', 'short']
d = [1,2,'Life', 'is']
e = [1,2,{'Life', 'is'}]

In [7]:
a = [1,2,3]

In [8]:
a

[1, 2, 3]

In [9]:
a[0]

1

In [11]:
a[0]+a[2]

4

In [12]:
a[-1]

3

In [13]:
a = [1,2,3,['a','b','c']]

In [14]:
a[0]

1

In [15]:
a[3]

['a', 'b', 'c']

In [16]:
a[-1]

['a', 'b', 'c']

In [17]:
a[-1][2]

'c'

In [ ]:
a = [1,2,3,4,5]

In [19]:
a[0:2]

[1, 2]

In [20]:
a = [1,2,3]
b = [4,5,6]

In [22]:
a+b

[1, 2, 3, 4, 5, 6]

In [24]:
len(a)

3

In [25]:
a = [1,2,3]

In [26]:
a[2] = 4
a

[1, 2, 4]

In [28]:
a = [1,2,4]
del a[2]
a

[1, 2]

In [37]:
a = [1,2,3,4,5]

In [38]:
del a[2:]

In [39]:
a

[1, 2]

In [48]:
a = [1,2,3]

In [49]:
a.append(4)

In [50]:
a

[1, 2, 3, 4]

In [51]:
a.append({5,6})
a

[1, 2, 3, 4, {5, 6}]

In [55]:
a = [1,4,3,2]
a

[1, 4, 3, 2]

In [57]:
a.sort()
a

[1, 2, 3, 4]

In [58]:
a.reverse()
a

[4, 3, 2, 1]

In [59]:
a = ['a','c','b']
a

['a', 'c', 'b']

In [61]:
a.sort()
a.reverse()
a

['c', 'b', 'a']

In [62]:
a = [2,3,1]
a.sort()
a.reverse()
a

[3, 2, 1]

In [64]:
a = [2,3,1]
a.sort(reverse = True)
a

[3, 2, 1]

In [65]:
a = [1,2,3]

In [67]:
a.index(3)

2

In [70]:
a.index(0)

ValueError: 0 is not in list

In [72]:
a.insert(0,4)

In [73]:
a

[4, 1, 2, 3]

In [78]:
a = [1,2,3,1,2,3]

In [80]:
a.remove(3)
a

[1, 2, 1, 2]

In [85]:
a = [1,2,3]
a.pop()

3

In [86]:
a

[1, 2]

In [89]:
a = [1,2,3,1]

In [90]:
a.count(1)

2

In [91]:
a = [1,2,3]
a.extend([4,5])

In [94]:
a

[1, 2, 3, 4, 5]

In [96]:
a = [1,2,3]
a.append([4,5])
a

[1, 2, 3, [4, 5]]

In [98]:
# Tuple 리스트는 대괄호 튜플은 소괄호
# 리스트는생성 삭제 수정 가능, 튜플은 불가능

In [99]:
t1= ()
t2 = (1,) #하나일 때 쉼표 찍어야함
t3 = (1,2,3)
t4 = 1,2,3 # 괄호 생략 가능
t5 = ('a', 'b', ('ab', 'cd'))

In [100]:
t1 = (1,2,'a','b')

In [102]:
del t1[0]

TypeError: 'tuple' object doesn't support item deletion

In [104]:
t1[0] = 'c'

TypeError: 'tuple' object does not support item assignment

In [105]:
t1[0]

1

In [106]:
t1[0:]

(1, 2, 'a', 'b')

In [107]:
t1[1]

2

t1[2]

In [108]:
t1[2]

'a'

In [109]:
t2 = (3,4)

In [110]:
t1 + t2

(1, 2, 'a', 'b', 3, 4)

In [111]:
t2*2

(3, 4, 3, 4)

In [114]:
t1 = (1, 2, 3, 4)

In [115]:
len(t1)

4

In [116]:
a = {1:'hi'}

In [117]:
a = {'a':[1,2,3]}

In [118]:
a

{'a': [1, 2, 3]}

In [119]:
a = {1:'a'}

In [120]:
a[2]='b'

In [121]:
a

{1: 'a', 2: 'b'}

In [123]:
a['name']= 'pay'

In [124]:
a

{1: 'a', 2: 'b', 'name': 'pay'}

In [125]:
del a[1]
a

{2: 'b', 'name': 'pay'}

In [126]:
a['jisung'] = 'football'
a

{2: 'b', 'name': 'pay', 'jisung': 'football'}

In [127]:
grade = {'pey' : 10, 'Julit' : 99}

In [128]:
grade['pey']

10

In [130]:
grade['Julit']

99

In [131]:
dic = {'name' : 'pey', 'phone' :'019993323', 'birth' : '1118' }

In [132]:
dic['name']

'pey'

In [133]:
dic['phone']

'019993323'

In [134]:
dic['birth']

'1118'

In [139]:
dic.keys()

dict_keys(['name', 'phone', 'birth'])

In [140]:
dic.values()

dict_values(['pey', '019993323', '1118'])

In [144]:
'name' in dic

True

In [146]:
'ame' in a

False

In [154]:
#set 중복 허용 x, 순서가 없다.

In [148]:
s1 = set([1,2,3])

In [149]:
s1

{1, 2, 3}

In [150]:
s2 = set("Hello")

In [151]:
s2

{'H', 'e', 'l', 'o'}

In [157]:
s1

{1, 2, 3}

In [158]:
l1 = list(s1)

In [159]:
l1

[1, 2, 3]

In [161]:
tuple(s1)

(1, 2, 3)

In [162]:
t1=tuple(s1)

In [166]:
s1 = set ([1,2,3,4,5,6])
s2 = set([4,5,6,7,8,9])

In [167]:
s1 & s2

{4, 5, 6}

In [169]:
s1.intersection(s2)

{4, 5, 6}

In [171]:
s1 | s2

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [172]:
s1.union(s2)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [174]:
s1 - s2

{1, 2, 3}

In [177]:
s2 - s1

{7, 8, 9}

In [178]:
s1.difference(s2)

{1, 2, 3}

In [183]:
s2.difference(s1)

{7, 8, 9}

In [196]:
s1 = set([1,2,3])

In [188]:
s1.add(4)

In [195]:
s1

{1, 3, 4, 5, 6}

In [197]:
s1.update([4,5,6])
s1

{1, 2, 3, 4, 5, 6}

In [199]:
s1.remove(2)

In [200]:
s1

{1, 3, 4, 5, 6}

In [202]:
#  Bool (True/false) 반드시 대문자로만 시작해야한다 True.

In [203]:
a = True

In [204]:
b = False

In [206]:
type(b)

bool

In [208]:
1 == 1

True

In [209]:
1 == 2

False

In [211]:
2 < 1

False

In [213]:
'python'

'python'

In [218]:
a = [1,2,3,4]
while a:
    print(a.pop())

4
3
2
1

In [224]:
if [1]:
    print('참')
else:
        print('거짓')

참

In [225]:
bool('python')

True

In [226]:
bool()

False

In [231]:
if [2]:
    print('참')
else: 
    print('거짓')

참

In [233]:
if [3]:
    print('참')
else:
    print('거짓')

참

In [236]:
(80+75+55)/3

70.0

In [237]:
k = 80
e = 75
m = 55
(k+e+m)/3

70.0

In [240]:
13%2 #몫은 버리고 나머지만 취한다. 나머지가 0이면 짝수

1

In [248]:
pin = '881120-1068234'

In [251]:
pin[0:6]

'881120'

In [246]:
junum = pin[:6]

In [247]:
junum

'881120'

In [253]:
pin[7:]

'1068234'

In [257]:
#if Ada Lovelace

In [258]:
money = True
if money :
    print('택시를타고 가라')
else :
    print('걸어가라')

택시를타고 가라

In [263]:
money = True
if money :
    print("택시를")
    print('타고')
    print('가라')

택시를
타고
가라

In [274]:
money = 5000
card = True
if money >= 5000 and card:
    print('take a taxi')
else :
    print('go by foot')

take a taxi

In [279]:
1 in ['1','2','3']
True
1 not in ['1','2','3']
Fasel

False

In [278]:
pocket = ['paper', 'cellphone', 'money']
if 'money' in pocket :
    print('take a taxi')
else:
    print('walk')

take a taxi

In [286]:
pocket = ['paper', 'handphone']
card = True
if 'money' in pocket : pass
else: print('카드를 써라')
# if 'money' in pocket:
#     print('택시를 타라')
# elif card:
#     print('택시를 타라') 
# else:
#     print('걸어가라')

카드를 써라

In [289]:
# while

In [22]:
treeHit = 0
while treeHit < 10 :
    treeHit = treeHit +1
    print('나무를 %d번 찍었습니다.' % treeHit)  
    if treeHit == 10:
        print('나무 넘어갑니다') # input은 문자다, # while 은 몇번 반복시킬지 모를 때 사용한다. #for은 몇번 반복할지 알 때 사용한다

나무를 1번 찍었습니다.
나무를 2번 찍었습니다.
나무를 3번 찍었습니다.
나무를 4번 찍었습니다.
나무를 5번 찍었습니다.
나무를 6번 찍었습니다.
나무를 7번 찍었습니다.
나무를 8번 찍었습니다.
나무를 9번 찍었습니다.
나무를 10번 찍었습니다.
나무 넘어갑니다

In [3]:
coffee = 10
money = 300

while money:
    print('돈을 받았으니 커피를 줍니다.')
    coffee = coffee - 1
    print('남은 커피의 양은 %d 개입니다.' % coffee)
    if coffee == 0 :
        print ('커피가 다 떨어졌습니다.')
        break

돈을 받았으니 커피를 줍니다.
남은 커피의 양은 9 개입니다.
돈을 받았으니 커피를 줍니다.
남은 커피의 양은 8 개입니다.
돈을 받았으니 커피를 줍니다.
남은 커피의 양은 7 개입니다.
돈을 받았으니 커피를 줍니다.
남은 커피의 양은 6 개입니다.
돈을 받았으니 커피를 줍니다.
남은 커피의 양은 5 개입니다.
돈을 받았으니 커피를 줍니다.
남은 커피의 양은 4 개입니다.
돈을 받았으니 커피를 줍니다.
남은 커피의 양은 3 개입니다.
돈을 받았으니 커피를 줍니다.
남은 커피의 양은 2 개입니다.
돈을 받았으니 커피를 줍니다.
남은 커피의 양은 1 개입니다.
돈을 받았으니 커피를 줍니다.
남은 커피의 양은 0 개입니다.
커피가 다 떨어졌습니다.

In [9]:
coffee = 10
while True:
    money = int(input("돈을 넣어 주세요: "))
    if money == 300:
        print("커피를 줍니다.")
        coffee = coffee -1
    elif money > 300:
        print("거스름돈 %d를 주고 커피를 줍니다." % (money -300))
        coffee = coffee -1
    else:
        print("돈을 다시 돌려주고 커피를 주지 않습니다.")
        print("남은 커피의 양은 %d개 입니다." % coffee)
    if coffee == 0:
        print("커피가 다 떨어졌습니다. 판매를 중지 합니다.")
        break

돈을 넣어 주세요: 100
돈을 다시 돌려주고 커피를 주지 않습니다.
남은 커피의 양은 10개 입니다.

KeyboardInterrupt: Interrupted by user

In [4]:
a = 0
while a < 10:
    a = a + 1
    if a % 2 == 0 : continue
    print(a)

1
3
5
7
9

In [6]:
a = 0
while a < 10:
    a = a + 1
    if a % 2 == 1 : continue
    print(a)

2
4
6
8
10

In [10]:
test_list = ['one', 'two', 'three']
for i in test_list:
    print(i)

one
two
three

In [11]:
a = [(1,2),(3,4),(5,6)]

In [12]:
for (first, last) in a:
    print(first*last)

2
12
30